/* === GENERALES === */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5rem;
    margin: 0 auto;
    width: 90%;
    max-width: 120rem;
    min-height: 100vh;
    /* border: 1px solid red; */
}
.formulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.container__main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    /* border: 1px solid red; */
}
.central{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}
.title{
    font-size: 4rem;
    color: var(--primary);
    margin-bottom: 4rem;
}
.typing{
    display: block;
    white-space: nowrap;
    border-right: .4rem solid var(--primary);
    width: 22.5ch;

    animation: typing 2s steps(23),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing { from{width: 0}; }
@keyframes blink { 50%{border-color: transparent;}}
.sub-title{
    font-size: 2.5rem;
    color: var(--primary);
}
.lane{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--light-grey);
    color: var(--almost-white);
    border: 1px solid var(--primary);
}
.pie{
    width: calc(100% / 4);
    /* border: 1px solid white; */
}
.form-100-width{width: 100%;}