/* === GENERALES === */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
    width: 90%;
    min-height: 100vh;
    /* border: 1px solid red; */
}
.cabecera{
    width: 100%;
    padding: 4rem;
    background-color: var(--strong-gray-2);
    border-bottom: 1px solid var(--strong-gray-3);
}
.formulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    background-color: var(--strong-gray-2);
}
.container__main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    background-color: var(--strong-gray-2);
}
.central{
    padding: 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(--strong-gray-3);
    font-size: 2rem;
    color: var(--almost-white-2);
}
.title{
    font-size: 4rem;
    color: var(--primary);
    width:fit-content;
}
.typing{
    display: block;
    white-space: nowrap;
    border-right: .4rem solid var(--primary);
    width: 22.5ch;
    animation: typing 2s steps(23),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing { from{width: 0}; }
@keyframes blink { 50%{border-color: transparent;}}
.sub-title{
    font-size: 2.5rem;
    color: var(--primary);
}
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem;
    background-color: var(--strong-gray-2);
    border-top: 1px solid var(--strong-gray-3);
}