2ev/ejercicios/8.5_foro_profe/src/config.php
2ev/ejercicios/8.5_foro_profe/vendor/*
2ev/python/comienzosDjango/mysite/mysite/settings.py
2ev/python/comienzosDjango/proyecto_prueba/proyecto_prueba/settings.py
